@mixin light-weight-font{
    font-weight: 300;
    opacity: 0.9;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color: rgb(253 251 245);
    height: 100%;
    width: 100%;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    padding: 2rem;
    padding-top: 3rem;
    width: 100%;
    border: 1px solid black;
}
body{
    padding: 1rem;
}
.line{
    height: 1px;
    background-color: black;
}

.view-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    p{
        @include light-weight-font;
    }
    h1{
        font-size: 5rem;
        font-weight: 400;
        width: 70%;
        line-height: 1;
        letter-spacing: -1px;

    }
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}

.view-2{
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    .left{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        p{
            @include light-weight-font();
        }
        h1{
            font-size: 3.3rem;
            font-weight: 400;
            line-height: 0.9;
            margin-top: 1.5rem;
        }
        button{
            padding: 1rem;
            border: 0.7rem;     
            background-color: black;
            border-radius: 0.5em;
            width: fit-content;
            text-transform: uppercase;
            font-weight: 100;
            color: rgb(234, 228, 228);
        }
    }
    
    

    .right{
        display: flex;
        flex-direction: column;
        gap:2rem;

        .elem{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1{
                font-size: 2rem;
                font-weight: 500;
            }
            p{
                font-size: 1.3rem;
                font-weight: 300;
            }
            svg{
                width: 4rem;
                aspect-ratio: 1/1;
            }
        }
    }
}

.view-3{
    padding: 3rem 0;
    height: min-content;
    .content{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        .left{
            display: flex;
            flex-direction: column;
            gap:1rem;
            h1{
                font-size: 2.5rem;
                line-height: 1;
                font-weight: 500;
            }
            p{
                font-size: 1.4rem;
                opacity: 0.8;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
    
            .right-top,.right-bottom{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap:2rem;
                .elem{
                    h1{
                        font-size: 2rem;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1.2rem;
                        opacity: 0.8;
                    }
                }
                video{
                    width: 100%;
                    aspect-ratio: 1/0.6;
                    object-fit: cover;
                    border-radius: 0.5em;
                }
            }
        }
    }
    
}

.view-4{
    display: flex;
    flex-direction: column;
    gap:2rem;   
    padding: 3rem 0;
    .left{
        display: flex;
        flex-direction: column;
        gap:2rem;
        .contact{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            p{
                @include light-weight-font()
            }
            h1{
                font-size: 3.4rem;
                font-weight: 500;
                line-height: 1;
                text-transform: uppercase;
                letter-spacing: -1px;
        
            }
        }
        svg{
            width: 4rem;
            aspect-ratio: 1/1;
        }
    }
    .line{
        width: 1px;
        height: initial;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap:3rem;
        button{
            padding: 1rem;
            border: 0.7rem;     
            background-color: black;
            border-radius: 0.5em;
            width: fit-content;
            text-transform: uppercase;
            font-weight: 100;
            color: rgb(234, 228, 228);
        }
        p{
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1.4;
        }
    }
}

.view-5{
    padding: 2rem 0;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        width: 42%;
        .content{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            p{
                font-size: 1.3rem;
                font-weight: 300;
                
            }
            .logo{
                display: flex;
                width: 95%;
                justify-content: space-between;
                svg{
                    width: 45%;
                    aspect-ratio: 1/1;
                    
                }
            }
        }
        .icons{
            display: flex;
            gap:0.8rem;
            .icon{
                height: 3rem;
                width: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid black;
                border-radius: 50%;
                p{
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .elem{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1{
                font-size: 2rem;
                font-weight: 400;
            }
            p{
                font-size: 1.2rem;
            }

            button{
                font-size: 1.2rem;
                padding: 0.6rem;
                width: fit-content;
                background-color: black;
                color: rgb(226, 219, 219);
                border-radius: 0.5em;
            }
        }
    }
}

.footer{
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    h1{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .footp{
        display: flex;
        gap: 2rem;
        p{
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}
.lo{
    height: 20px;
}
@media (min-width:1060px){
    main{
        padding: 3rem;
    }
    .view-1{
        h1{
            font-size: 6rem;
            width:50%
        }
    }

    .view-2{
        flex-direction: row;
        padding: 2rem 0;
        .left{
            justify-content: space-between;
            width: 60%;
            h1{
                margin-top: 2rem;
                font-size: 5rem;
            }
        }
        .line{
            height: initial;
            width: 1px;
        }
        .right{
            width: 32%;
            .line{
                height: 1px;
                width: initial;
            }
            
        }
    }

    .view-3{
        flex-direction: row;
        position: relative;
        .content{
            position: relative;
            flex-direction: row;
            .left{
                position:sticky;
                top:2rem;
                height: fit-content;
            }
            .right{
                .right-top,.right-bottom{
                    flex-direction: row;
                    gap: 3rem;
                }
            }
        }
        
        .line{
            height: initial;
            width: 1px;
        }
    }
    .view-4{
        flex-direction: row ;
        height: 42rem;
        .right{
            justify-content: space-between;
            width: 30%;
            p{
                font-size: 1.6rem;
            }
        }
        .left{
            
            width: 70%;
            flex-direction: column-reverse;
            justify-content: space-between;
            
            .contact{
                h1{
                    font-size: 6rem;
                }

                
            }

        }
    }

    .view-5{
        padding: 4rem 0;
        flex-direction: row;
        justify-content: space-between;
        .left{
            width: 25%;
            .content{
                .logo{
                    width: 30%;
                }
            }
        }
        .line{
            height: initial;
            width: 1px;
        }

        .right{
            width: 75%;
            flex-direction: row;
            justify-content: space-around;
            .line{
                height: 1px;
                width: initial;
            }
        }
    }
    
}

@media (min-width:780px){
    .footer{
        flex-direction: row;
        justify-content: space-between;
    }
    .view-5{
        padding: 4rem 0;
        flex-direction: row;
        justify-content: space-between;
        .left{
            width: 40%;
            .content{
                .logo{
                    width: 45%;
                }
            }
        }
        .line{
            height: initial;
            width: 1px;
        }
        .right{
            padding-left: 1rem;
            width: 75%;
            gap:2rem;
            .line{
                height: 1px;
                width: initial;
            }
        }
    }
}