*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: wheat;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 0, 102);
}
#page3{
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(157, 255, 0);
}

.box{
    height: 300px;
    width: 300px;
    background-color: beige;
}

#page3 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-weight: 500;
}